@import "reset.css";

body {
   font-family: 'Lato', sans-serif;
   color: #424551;
   /* font-size: 16px; */ 
}


.wrapper {
   display: flex;
   flex-direction: column;
   overflow: hidden;
   position: relative;
   min-height: 100%;
}

.wrapper main {
   flex: 1 1 auto;
}

/*======================== general ======================*/

[class*="__container"] {
   max-width: 1260px;
   padding: 0px 15px; /*! отступы безопасности. Их сумму нужно добавить к общей длинне огр контейнера*/
   margin: 0 auto;
}

/*=====================================================================================*/

.form-block {
   background-color: #4499de;
   padding: 30px 0px 40px 0px;
}
.form-block__title {
   font-size: 35px;
   font-weight: 600;
   line-height: 1.5;
   text-align: center;
   text-transform: uppercase;
   margin: 0px 0px 35px 0px;
}
.form-block__body {
   color: #fff;
}

.form {
   display: flex;
   flex-wrap: wrap;
   row-gap: 10px;
   margin: 0 -5px;
}
.form__column {
   display: flex;
   flex: 1 1 50%;
   padding: 0 5px;
}

.form__left {
   flex: 1 1 50%;
   background: #8c8b8baa;
   padding: 25px;
}
.form__right {
   display: flex;
   flex-direction: column;
   background: #716e6ec2;
   padding: 25px;
   row-gap: 15px;
   flex-grow: 1;
}
.right__body {
   flex-grow: 1;
}

.form__input:focus,
.textarea__area:focus,
.form__select:focus {
   outline: 1px solid #3af8ff;
   box-shadow: 0px 0px 15px 1px #3af8ff;
}
.form__line:not(:last-child) {
   margin: 0px 0px 30px 0px;
}

.file__label,
.form__label {
   display: inline-block;
   margin: 0px 0px 10px 0px;
}
.form__input {
   height: 30px;
   padding: 0 5px;
}

.checkbox__label,
.radio-form__label {
   display: inline-block;
   margin: 0px 0px 10px 0px;
}

.form__title {
   margin: 0px 0px 10px 0px;
}

.radio-form__input--radio,
.checkbox__input--chk {
   width: auto;
   vertical-align: middle;
}

.form__checkbox {
   position: relative;
}
.checkbox__input {
   position: absolute;
   width: 0;
   height: 0;
   opacity: 0;
}
.checkbox__label {
   cursor: pointer;
   display: inline-flex;
   gap: 10px;
}
.checkbox__label::before {
   content: "";
   flex: 0 0 16px;
   width: 16px;
   height: 16px;
   top: 0;
   left: 0;
   background: #ffffff;
   border: 1px solid #000;
}
.checkbox__input:checked + .checkbox__label::before {
   background: #7A956B;
}
.checkbox__label::after {
   position: absolute;
   content: "";
   flex: 0 0 16px;
   width: 16px;
   height: 16px;
   top: 0;
   left: 0;
   background: url('../img/check.svg') center / 70% no-repeat;
   transform: scale(0);
}
.checkbox__input:checked+.checkbox__label::after {
   transform: scale(1);
   transition: transform 0.3s ease 0s;
}
.checkbox__input:focus + .checkbox__label::before {
   outline: 1px solid #3af8ff;
   box-shadow: 0px 0px 15px 1px #3af8ff;
}
.checkbox__text {
   align-self: center;
}

.radio-form {
   position: relative;
}
.radio-form__input {
   position: absolute;
   width: 0;
   height: 0;
   opacity: 0;
}
.radio-form__label {
   display: inline-flex;
   cursor: pointer;
   align-items: center;
   gap: 10px;
}
.radio-form__label::before {
   content: "";
   flex: 0 0 16px;
   width: 16px;
   height: 16px;
   top: 0;
   left: 0;
   background: #fff;
   border: 1px solid #000;
   border-radius: 50%;
}
.radio-form__label::after {
   content: "";
   flex: 0 0 8px;
   width: 8px;
   height: 8px;
   top: 4px;
   left: 4px;
   background: red;
   border-radius: 50%;
   position: absolute;
   transform: scale(0);
   transition: transform 0.15s ease 0s;
}
.radio-form__input:checked + .radio-form__label::after {
   transform: scale(1);
}
.radio-form__input:focus + .radio-form__label::before {
   outline: 1px solid #3af8ff;
   box-shadow: 0px 0px 15px 1px #3af8ff;
   /* border-radius: 5px; */
}
.radio-form__text {
   align-self: center;
}

.textarea__body {
   display: flex;
   gap: 10px;
}
.textarea__area {
   flex-shrink: 0;
   height: 200px;
   resize: vertical;
   padding: 5px;
}

.file {
   /* max-width: 260px; */
   position: relative;
}
.file__label {
   display: inline-flex;
   cursor: pointer;
   border: 1px solid #3af8ff;
   border-radius: 5px;
   padding: 10px  25px;
   transform: scale(1);
   transition: transform 0.3s ease 0s;
}
.file__label:active {
   transform: scale(0.95);
}
.file__input {
   position: absolute;
   width: 0;
   height: 0;
   opacity: 0;
}
.file__input:focus + .file__label {
   outline: 1px solid #3af8ff;
   box-shadow: 0px 0px 15px 1px #3af8ff;
   border-radius: 5px;
}

.form__actions {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   flex-shrink: 0;
   gap: 10px;
}
.action-form__button {
   box-shadow: 0px 0px 1px 1px #3af8ff;
   transition: transform 0.3s ease 0s;
}
.button {
   display: inline-block;
   font-weight: 700;
   border-radius: 5px;
   padding: 15px 40px;
   background: linear-gradient(55.95deg, #3af8ff 0%, #09cdbf 100%);
   position: relative;
}
.button span {
   position: relative;
   z-index: 2;
}
.button::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background: linear-gradient(55.95deg, #35e5eb 0%, #0fc0b4 100%);
   border-radius: 4px;
   opacity: 0;
   transition: all 0.3s ease 0s;
}
.button:hover::before {
   opacity: 1;
}
.button:hover:active {
   transform: scale(0.95);
}
.button:focus {
   outline: 1px solid #3af8ff;
   box-shadow: 0px 0px 15px 1px #3af8ff;
}
.button--border {
   background: transparent;
   color: #3af8ff;
   border: 1px solid #3af8ff;
   border-radius: 4px;
   padding: 15px 40px;
   transition: background-color, transform 0.3s ease 0s;
}
.button--border:hover {
   color: #fff;
   border: 1px solid #3af8ff;
   background-color: #3af8ff;
}
.form__input--pointer,
.form__select {
   cursor: pointer;
}

.action-form__box {
   display: flex;
   gap: 10px;
}
.action-form__link {
   align-items: flex-start;
   align-self: flex-end;
}
.action-form__link:hover {
   text-decoration: underline;
}
