@import "reset.css";

body {
   font-family: 'Lato', sans-serif;
   color: #424551;
   /* font-size: 16px; */
}

.wrapper {
   display: flex;
   flex-direction: column;
   overflow: hidden;
   position: relative;
   min-height: 100%;
}

.wrapper main {
   flex: 1 1 auto;
}

/*======================== general ======================*/

[class*="__container"] {
   max-width: 1260px;
   padding: 0px 15px; /*! отступы безопасности. Их сумму нужно добавить к общей длинне огр контейнера*/
   margin: 0 auto;
}

/*=====================================================================================*/

.form-block {
   padding: 180px 0px;
}
.form-block__content {
   display: flex;
   flex-wrap: wrap;
}

.content-form__images {
   align-self: center;
   margin: 0px 105px 30px 0px;
}
.content-form__images img {
   max-width: 435px;
}
.content-form__header-content {
   margin: 0px 0px 40px 0px;
}

.content-header {
   display: flex;
   flex-direction: column;
   row-gap: 8px;
}
.content-header__subtitle {
   font-weight: 700;
   line-height: 1.5;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #1E212C;
}
.content-header__title {
   font-weight: 900;
   font-size: 46px;
   line-height: 1.3;
   color: #1E212C;
}

.content-form__box{
   flex: 1 1 50%;
}

.form__box {
   display: flex;
   flex-wrap: wrap;
   margin: 0 -12.5px 48px;
}
.form__line {
   display: flex;
   flex-direction: column;
   row-gap: 8px;
   flex: 1 0 50%;
   padding: 0 12.5px;
}
.form__line:not(:last-child) {
   margin: 0px 0px 24px 0px;
}
.form__input {
   background: #FFFFFF;
   border: 1px solid #D7DADD;
   border-radius: 4px;
   padding: 13px 16px;
}
.form__input--textarea {
   height: 128px;
}
.form__input:focus {
   background: #FFFFFF;
   outline: 1px solid rgba(255, 63, 58, 0.4);
   box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.08), 0px 30px 24px -10px rgba(255, 63, 58, 0.05), 0px 12px 10px -6px rgba(255, 63, 58, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
   border-radius: 4px;
}

.form__action {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   row-gap: 10px;
   column-gap: 10px;
}
.action-form__line {
   flex: 0 1 340px;
}
.action-form__item {
   display: flex;
   position: relative;
}
.action-form__checkbox {
   position: absolute;
   width: 0;
   height: 0;
   opacity: 0;
}
.action-form__label {
   max-width: 315px;
   display: inline-flex;
   cursor: pointer;
   line-height: 1.2;
   color: #424551;
   gap: 12px;
}
.action-form__label::before {
   content: "";
   flex: 0 0 16px;
   width: 16px;
   height: 16px;
   top: 0px;
   left: 0;
   border: 1px solid #FF3F3A;
   border-radius: 3px;
}
.action-form__checkbox:checked+.action-form__label::before {
   background: #FF3F3A url('../img/figma/check.svg') center / 70% no-repeat;
}
.action-form__checkbox:focus+.action-form__label::before {
   outline: 1px solid rgba(255, 63, 58, 0.4);
   box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.08), 0px 30px 24px -10px rgba(255, 63, 58, 0.05), 0px 12px 10px -6px rgba(255, 63, 58, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
   border-radius: 4px;
}

.action-form__button {
   width: 100%;
}
.button {
   display: inline-block;
   font-weight: 700;
   line-height: 1.2;
   letter-spacing: 0.5px;
   color: #FFFFFF;
   background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
   border-radius: 4px;
   position: relative;
   padding: 16px 40px;
}
.button__text {
   position: relative;
   z-index: 2;
}
.button::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background: linear-gradient(55.95deg, #e7352f 0%, #e25604 100%);
   border-radius: 4px;
   opacity: 0;
   transition: all 0.3s ease 0s;
}
.button:hover::before {
   opacity: 1;
}
.button:focus {
   outline: 1px solid rgba(255, 63, 58, 0.4);
   box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.08), 0px 30px 24px -10px rgba(255, 63, 58, 0.05), 0px 12px 10px -6px rgba(255, 63, 58, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
   border-radius: 4px;
}